// colors

$bgr-color: #E5E5E5;
$title: #F4F3F1;
$text: #343433;
$subtitle: #9D9480;
$line: #A89C83;
$about: #EDECE8;
$button: #D2CCBF;

// Viewports

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;