@import "./__icon/_icon";
@import "./__link/_link";
@import "./__text/_text";

.footer {
    padding: 5rem 10rem;
    background-color: $text;
}

@media screen and (max-width: $desktop-width) {
    .footer {
        display: flex;
        padding: 5rem;
        justify-content: center;
    }
}