@font-face {
  font-family: Georgia;
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Georgia.woff2");
}
@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat-Regular.woff2");
}
@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: medium;
  src: url("../fonts/Montserrat-Medium.woff2");
}
@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: bold;
  src: url("../fonts/Montserrat-Bold.woff2");
}
.visually-hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

.header__logo {
  width: 5rem;
  height: 5rem;
  margin-right: 0.62rem;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 3rem;
    height: 3rem;
  }
}
.header__title {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.87rem;
  color: #343433;
}

@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 1.5rem;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
}

.header__link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.header {
  display: flex;
  padding: 0.62rem 4.75rem;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  background-color: #E5E5E5;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0.62rem 2rem;
    align-items: center;
  }
}
.nav__item {
  padding: 0;
  margin: 0;
  margin-right: 3.1rem;
}
.nav__item:hover {
  margin-right: 3, 1rem;
  color: #9D9480;
  cursor: pointer;
}
.nav__item:focus {
  outline: #9D9480;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__link {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
.subtitle {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 2.8rem;
  color: #343433;
}
.subtitle_link {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
  .subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.text {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.93rem;
  color: #343433;
}
.text_footer {
  font-size: 0.8rem;
  color: #EDECE8;
}

@media screen and (max-width: 1024px) {
  .text {
    font-size: 0.8rem;
    line-height: 1.6rem;
  }
}
.title {
  position: relative;
  padding: 0 0 1.5rem 2.8rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.93rem;
  color: #9D9480;
}
.title::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 1px;
  left: 0;
  bottom: 2.3rem;
  background-color: #A89C83;
}
.title_about::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 1px;
  left: 20.5rem;
  bottom: 2.3rem;
  background-color: #A89C83;
}

.intro__wrapper-text {
  width: 100%;
  height: auto;
  padding: 20rem 0 25rem 0;
  background-image: url("../images/main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #69B7E1;
}
.intro__wrapper-text_second {
  background-image: url("../images/second-main.jpg");
}

@media screen and (max-width: 768px) {
  .intro__wrapper-text {
    padding: 15rem 0 15rem 0;
  }
}
.intro__title {
  font-size: 3.25rem;
  font-weight: 700;
  color: #F4F3F1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    font-size: 2.5rem;
  }
}
.intro__subtitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  color: #F4F3F1;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3em;
}

@media screen and (max-width: 1024px) {
  .intro__subtitle {
    font-size: 1rem;
  }
}
.intro-wrapper__text {
  margin: 0;
  padding: 0;
  max-width: 60%;
}

@media screen and (max-width: 1024px) {
  .intro-wrapper__text {
    max-width: 100%;
    text-align: justify;
  }
  .intro-wrapper__text_order {
    margin-top: 2.5rem;
  }
}
.intro-wrapper {
  display: flex;
  padding: 8rem 15rem;
}

@media screen and (max-width: 1024px) {
  .intro-wrapper {
    flex-direction: column;
    padding: 3.5rem;
  }
}
.text-container {
  margin-right: 5rem;
}

.about {
  margin: 0;
  padding: 8rem 15rem;
  background-color: #EDECE8;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 3.5rem;
  }
}
.button {
  display: inline-block;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  color: #343433;
  border: none;
  border-bottom: 0.18rem solid #D2CCBF;
  cursor: pointer;
}
.button:hover {
  color: #9D9480;
  border-bottom: 0.18rem solid #D2CCBF;
}
.button:focus {
  outline: #D2CCBF;
}
.button:active {
  color: #9D9480;
}

.about-wrapper__image {
  display: block;
  width: 20rem;
  margin: 0;
  margin-right: 5rem;
}

@media screen and (max-width: 1024px) {
  .about-wrapper__image {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.about-wrapper__text {
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .about-wrapper__text {
    text-align: justify;
  }
}
.about-wrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .about-wrapper {
    flex-direction: column;
  }
}
.about-container__subtitle {
  margin: 0;
  margin-bottom: 3rem;
}

.about-container {
  margin: 0;
  margin-bottom: 3rem;
}

.footer__icon {
  width: 2rem;
  height: 2rem;
  fill: #D2CCBF;
}
.footer__icon:hover, .footer__icon:focus, .footer__icon:active {
  fill: #A89C83;
}

.footer__link {
  margin-right: 0.8rem;
}
.footer__link_last {
  margin-right: 0;
}

.footer__text {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  .footer__text {
    display: none;
  }
}
.footer {
  padding: 5rem 10rem;
  background-color: #343433;
}

@media screen and (max-width: 1024px) {
  .footer {
    display: flex;
    padding: 5rem;
    justify-content: center;
  }
}
.gallery__image {
  padding: 0.625rem;
  box-sizing: border-box;
  width: 33.3%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .gallery__image {
    padding: 0.3rem;
  }
}
.gallery__wrapper {
  margin-bottom: 4rem;
}

@media screen and (max-width: 1024px) {
  .gallery__wrapper {
    margin-bottom: 2rem;
  }
}
.gallery__button {
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .gallery__button {
    margin-bottom: 2.5rem;
  }
}
.gallery__button-container {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

@media screen and (max-width: 1024px) {
  .gallery__button-container {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
.gallery {
  align-items: center;
}

.accordeon__button {
  padding: 5px 0;
  margin: 5px 0;
  border: none;
}
.accordeon__button:hover {
  border: none;
}

.accordeon__container {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-out;
}

.active + .accordeon__container {
  height: 115px;
  width: 265px;
}

.accordeon-title {
  align-items: left;
}

.up-button {
  display: none;
  position: fixed;
  bottom: 7rem;
  right: 5rem;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  z-index: 99;
  border: none;
  outline: none;
  background-image: url("../images/icons/up-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 80%;
  background-color: #EDECE8;
  cursor: pointer;
  border-radius: 50%;
}
.up-button:hover {
  background-color: #F4F3F1;
}

/*# sourceMappingURL=main.css.map */
