.gallery__button-container {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

@media screen and (max-width: $desktop-width) {
    .gallery__button-container {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}