@import "./__logo/_logo";
@import "./__title/_title";
@import "./__wrapper/_wrapper";

.header {
   display: flex;
   padding: 0.62rem 4.75rem;
   margin: 0;
   align-items: center;
   justify-content: space-between;
   background-color: $bgr-color;
}

@media screen and (max-width: $tablet-width) {
    .header {
        align-items: left;
    }
}