.subtitle {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 2.8rem;
    color: #343433;

    &_link {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:$desktop-width) {
    .subtitle {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}