.intro__subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: $title;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3em;
}