@import "./__text/_text";

.intro-wrapper {
    display: flex;
    padding: 8rem 15rem;
}

@media screen and (max-width:$desktop-width) {
    .intro-wrapper {
        flex-direction: column;
        padding: 5rem;
    }
}